#header{
  background: #222;
  background-repeat: no-repeat;
  background-position: center 0;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 138px 0 0;
  text-align: center;
  min-height: 400px;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 80px;
  .logotext{
    h1{
      font-size: 55px;
      line-height: 1em;
      margin-bottom: 30px;
      a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    h2{

    }
  }
  .logoimg{
    position: absolute;
    left: 1%;
    right: 1%;
    bottom: -38px;
  }
}